<div class="container mt-5 shadow-lg p-4 mb-4 bg-white">
    <div class="container mt-5">
    <div class="bg-secondary mb-0 text-white"><h2 class="text-center mt-3">APP CALCULATOR</h2></div>
    <div class="card-deck">
    <div class="card p-0">
        <div class="card-body bg-warning border-warning ">
        <label for="number1" style="font-weight: bold; font-style: italic;" class="mt-5">Enter Number 1:</label>
        <input type="text" class="form-control" [(ngModel)]="number1">
    <div class="mt-5 border-warning">
        <label for="number2" style="font-weight: bold; font-style: italic;">Enter Number 2:</label>
        <input type="text" class="form-control" [(ngModel)]="number2">
    </div>  
</div>   
</div>
<div class="card bg-light border-dark rounded lg">
    <div class="card-body bg-light border-dark rounded lg">
<button class="btn btn-dark btn-lg ml-0 mb-2"(click)="Add()">+</button>
<button  class="btn btn-dark btn-lg ml-5 mb-2"(click)="Subtract()">-</button>
<button  class="btn btn-dark btn-lg  ml-5 mb-2"(click)="Multiply()">*</button>
<button  class="btn btn-dark btn-lg  ml-5"(click)="Divide()">/</button>
<button  class="btn btn-dark btn-lg  ml-5"(click)="Modular()">%</button>
<button  class="btn btn-danger btn-block size:50px  mt-5"(click)="Clear()">Clear</button>
</div>
</div>
<div class="card bg-warning border-warning rounded lg">
    <div class="card-body bg-warning border-info rounded lg">
        <span class="badge bg-light text-center d-block mx-auto" style="font-size:x-large;font-weight: bold; font-style: italic; color: black; width:200px;margin-top:100px">
            {{add}} {{subtract}} {{multiply}} {{divide}} {{modular}}</span>
    </div>
</div>
</div>

